[submodule "cexample"]
	path = cexample
	url = git@github.com:ffashion/cexample.git
[submodule "luaexample"]
	path = luaexample
	url = git@github.com:ffashion/luaexample
[submodule "cppexample"]
	path = cppexample
	url = git@github.com:ffashion/cppexample.git
